.header{
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  box-sizing: border-box;
  width: calc(100vw - calc(2 * var(--p-container) ) );
  margin-top: var(--p-container);
  padding: 2rem;
  gap: 1rem;

  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0,0,0,0.25) 0 4px 4px;
}

.header__logo {
  width: 3rem;
  height: 3rem;
  background: #ddd;
}

.header__info {
  display: flex;
  flex-direction: column;
}

.actions {
  flex-grow: 1;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: var(--p-container);
}

.bottom{
  padding: 2rem 3rem;
  /* width: 100vw; */
  /* max-height: 25vh; */
  display: flex;
  align-self: flex-end;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
}

.bottom .bottom__info{
  justify-self: start;
  width: 70%;
}
.bottom__info-progression{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: 12rem;
  height: 0.5rem;
  border-radius: 5rem;
  background-color: rgb(72, 72, 72);
}
.bottom__info-progression .load-container__progress{
  height: 0.5rem;
  width: 50%;
  border-radius: 5rem;
  background-color: red;
}
.bottom .bottom__info header{
  margin-bottom: 1rem;
}
.bottom .bottom__actions{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  justify-self: end;
  width: 30%;
}
