@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --p-container: 1rem;

    --primary: #6F1C36;
    --white: #FFFFFF;
    --text: #1E1E1E;
    --background: #FFECD9;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: var(--text);
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited 
{
    text-decoration: none;
}

h1 {
    font-size: 1.25rem;
    font-weight: var(--fw-medium);
    padding-top: 0.6rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    padding-top: 0.6rem;
    margin-bottom: 0.6rem;
}

h3 {
    font-size: 0.875rem;
    font-weight: var(--fw-semibold);
    padding-top: 0.3rem;
    margin-bottom: 0.4rem;
}

p {
    font-size: 0.875rem;
    font-weight: var(--fw-regular);
    margin-bottom: 0.4rem;
}

.btn-primary, .btn-secondary {
    background:none;
    border:none;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    position:relative; 
    margin: 0 auto;
    width: 100%;
    
    font-weight: var(--fw-semibold);
}
.btn-primary {
    color: var(--white);
    background: var(--primary);
}

.btn-secondary {
    color: var(--primary);
    background: var(--white);
}
