.container-global{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
#bottoms {
    z-index: 10;

    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;
    transition: transform var(--ui-transition-duration);
    transform: translateY(100%);
}

#bottoms.bottoms-visible {
    transform: translateY(0);
}


#actions {
    pointer-events: none;

    z-index: 15;
    flex-grow: 1;
    margin-left: auto;
    margin-right: var(--p-container);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    padding: 2rem;
    transition: transform var(--ui-transition-duration);
    transform: translateX(100%);
}

#actions.actions-visible {
    transform: translateX(0);
}

#actions button {
    pointer-events: all;
    border: none;
    background: none;
}

#actions button img {
  --size: 1.5rem;
  height: var(--size);
  width: var(--size);
  background: var(--primary);
  border-radius: 100%;
  padding: 0.5rem;
}

.proximity-indication {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proximity-indication__bar {
    position: relative;
    height: 8rem;
    width: 5px;

    padding: 1rem .5rem 1.5rem .5rem;
    /* padding-bottom: 1.5rem; */
    margin-bottom: -1rem;

    background: var(--white);
    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
#proximity-indication__bar-inner {
    width: 100%;
    height: 0%;
    background: var(--primary);
    border-radius: 10px;
    z-index: 1;
    /* transition: height 0.5s; */
}
#proximity-indication__bar-ticks {
    position: absolute;
    top:1rem;
    left: 0.7rem;
    height: calc( 100% - 2.5rem );
    /* width: calc( 100% - 1rem ); */
}
#proximity-indication__value {
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 1.5rem;
    height: var(--size);
    width: var(--size);
    background: var(--white);
    border-radius: var(--size);
    padding: 0.5rem;
    z-index: 2;
}



.bottom{
  display: none;
  padding: 2rem 3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  width: 100vw;
  box-sizing: border-box;

  gap: 1rem;
}

.bottom-open {
  display: flex;
}

#bottom-ended {
  flex-direction: column;
}

.bottom .bottom__info{
  justify-self: start;
}

.bottom h2 {
  padding: 0;
  margin-bottom: .3rem;
}

.bottom__info-progression{
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  width: 12rem;
  height: 0.5rem;
  border-radius: 5rem;
  background-color: #ebebeb;
}
.bottom__info-progression .load-container__progress{
  height: 0.5rem;
  width: 0%;
  border-radius: 5rem;
  background-color: var(--primary);
  transition: width 0.5s;
}
.info-stage{
  margin-top: 1.5rem;
  font-size: 0.8rem;
}
.bottom__info header{
  margin-bottom: 1rem;
}
.bottom__actions, .bottom__ctas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.bottom__ctas {
  width: 100%;
}

.bottom__hint {
  background: none;
  border: none;
}

.bottom__hint img {
  --size: 1.5rem;
  height: var(--size);
  width: var(--size);

  background: var(--primary);
  border-radius: 100%;
  padding: .5rem;
}
