.popup {
    z-index: 1000;
    position: fixed;
    display:none;
}
.popup.popup-open
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__backdrop {
    position: absolute;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.popup, .popup__backdrop {
    left: 0;
    top: 0;

    height: 100vh;
    width: 100vw;
}

.popup__inner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    box-sizing: border-box;
    max-height: 70vh;
    width: calc( 100vw - calc( 2 * var(--p-container) ) );
    padding: 2rem;
    
    background: var(--background);
    border-radius: 30px;
}
.popup__scroll {
    margin-right: -1rem;
    padding-right: 1rem;
    overflow-y: auto;
}

.popup__btn-close
{    
    display: none;
    background:none;
    border:none;

    margin: -1rem -1rem 0 auto;
    padding: 1rem;
    position:relative; 
}

.popup__btn-cta
{    
    margin-top:20px;
}

.popup__btn-close img {
    --size: 1.3rem;
    height: var(--size).5;
    width: var(--size);
}

#popupEnd .popup__inner {
    align-items: center;
}
#popupEnd .popup__inner img {
    margin: 1.5rem 0;
}

.popupHint__image-container {
    border-radius: 30px;
    overflow: hidden;
    margin: 1rem 0;
}
#popupHint__image {
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    user-select: none;
    pointer-events: none;

    filter: blur(2px);
}