*{
    margin:0;
    padding: 0;
    line-height: 1;
}

a, a:hover, a:visited 
{
    text-decoration: none;
}

.popup
{
   max-height: 70vh;
   height:auto;
   width:80vw; 
   background:#000;
   margin:auto;
   display:none;
   position:absolute;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
}

.open
{
    display:block;
}