*{
    margin:0;
    padding: 0;
    line-height: 1;
}

a, a:hover, a:visited 
{
    text-decoration: none;
}

.popup
{
   max-height: 70vh;
   height:auto;
   width:80vw; 
   background:#fAFAFA;
   box-sizing: border-box;
   margin:auto;
   display:none;
   position:absolute;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
   padding:20px;
}

.popup p
{
    text-align:justify;
}

.open
{
    display:block;
}

.popup .btn__popup
{
    position:relative;
    left:95%;
    background:none;
    width:20px;
    height:20px;
    border:none;
}