:root {
    --p-container: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    width: 100vw;

}

*{
    margin:0;
    padding: 0;
    line-height: 1;
}

a, a:hover, a:visited 
{
    text-decoration: none;
}

.popup {
    position: fixed;
    display:none;
}
.popup.popup-open
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__backdrop {
    position: absolute;
    background: rgba(0,0,0,0.1);
    z-index: -1;
}

.popup, .popup__backdrop {
    left: 0;
    top: 0;

    height: 100vh;
    width: 100vw;
}

.popup__inner
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    max-height: 70vh;
    height:auto;
    width:80vw; 
    padding:20px;
    
    background:#fAFAFA;
}

.popup__inner p
{
    text-align:justify;
}



.popup__btn-close
{
    margin-left: auto;
    padding: 0.5rem;
    
    /* background:none; */
    border:none;
}